pandas
openapi
openai-agents
google
torch
requests
datasets
transformers
sentencepiece
torchtext
torchvision
langchain
langchain-community
langchain-openai
faiss-cpu
tiktoken
streamlit
mistral_inference
psycopg2
sqlalchemy
datasets
accelerate
bitsandbytes
peft
wget
huggingface_hub
FastAPI
uvicorn
asyncpg
psycopg2-binary